.faq {
	background: rgba(0, 0, 0, 0.97);
	color: #fff;
	padding-bottom: 80px;
}

.faq .section-header-title {
	color: rgba(255, 255, 255, 0.75);
}

.faq .section-header-number {
	color: rgba(255, 255, 255, 0.05);
}

.label {
	font-size: 18px;
	font-weight: bolder;
	text-transform: uppercase;
}

.question {
	font-size: 18px;
	font-weight: bolder;
}

.faq-button {
	margin-top: 50px;
	text-align: center;
}

.faq-button button {
	border-radius: 25px;
	background: #ffcc00;
	color: #000;
	font-weight: 600;
	padding: 13px 55px;
}

.faq-message {
	margin-top: 70px;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 767px) {
	.faq-column {
		margin-top: 20px;
	}
	.faq-message {
		margin-top: 30px;
	}
}