.footer {
    background: rgba(31, 31, 31, 0.97);
    padding-top: 23px;
    padding-bottom: 70px;
}

.footer .text {
    color: #FFFFFF;
    padding-top: 10px;
    font-size: 18px;
}

.footer .subheader {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 36px;
}

.footer .subheader.parleo {
    font-size: 48px;
}

.footer nav {
    margin-top: 20px;
}

.footer .nav-link {
    padding: 0;
}

.footer .images {
    margin-top: 20px;
}

.footer .images img {
    margin-right: 20px;
    cursor: pointer;
}
