.how-its-done {
    background: rgba(0, 0, 0, 0.97);
    padding-bottom: 80px;
}

.how-its-done .section-header-title {
    color: rgba(255, 255, 255, 0.75);
}

.how-its-done .section-header-number {
    color: rgba(255, 255, 255, 0.05);
}

.paragraph-header{
    padding-top: 3.9vh;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
}
.paragraph-text{
    padding-top: 0.9vh;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.5);
}
.triple-image img {
    display: flex;
    position: relative;
    max-width: 100%;
}
.image-first{
    z-index: 5;
    max-height: 34.3vh;

}
.image-second{
    margin-top: -45%;
    right: -7%;
    z-index: 2;
    max-height: 34.3vh;

}
.image-third{
    margin-top: -45%;
    right: -14%;
    z-index: 1;
    max-height: 34.3vh;
}
.left{
    align-items: center;
}

@media (max-width: 576px) {
    .image-second{
        right: 0;
    }
    .image-third{
        right: 0;
    }
}