.motivation {
    background: #F2F7FF;
}

.motivation .section-header {
    color: rgba(0, 0, 0, 0.5);
}

.motivation .section-header-number {
    color: rgba(0, 0, 0, 0.05);
}

.motivation .content {
    font-size: 16px;
    font-weight: bolder;
}

.signature {
    text-align: end;
}

.summary{
    text-align: end;
    font-size: 16px;
    font-weight: bolder;
}

@media (max-width: 767px) {

    .Danya {
        display: none;
    }
}