.motivation {
    background: #F2F7FF;
}

.motivation .section-header {
    color: rgba(0, 0, 0, 0.5);
}

.motivation .section-header-number {
    color: rgba(0, 0, 0, 0.05);
}

.motivation .content {
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}

.signature {
    text-align: end;
}

.summary{
    text-align: end;
    font-size: 16px;
    font-weight: 600;
}

.danya {
    position: relative;
}

.danya img {
    position: absolute;
    top: 18px;
}

@media (max-width: 767px) {

    .danya {
        display: none;
    }
}