body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, span {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.page {
    min-height: 100vh;
    height: auto;
    overflow: visible;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header-title {
    font-size: 36px;
}

.section-header-number {
    font-size: 122px;
    font-weight: bold;
}

@media (max-width: 767px) {

    .section-header-number {
        font-size: 48px;
    }
}

@media (max-width: 576px) {

    .section-header-number {
        font-size: 48px;
    }

    .section-header-title {
        font-size: 24px;
    }
}
