.why-parleo{
    padding-bottom: 80px;
}
.why-parleo .section-header-title {
    color: rgba(0, 0, 0, 0.5);
}

.why-parleo .section-header-number {
    color: rgba(0, 0, 0, 0.05);
}

.content-column {
    margin-top: 30px;
}

.subheader {
    padding-top: 3.75vh;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    color: #212121;
    text-align: start;
}
.text{
    text-align: start;
    padding-top: 3.75vh;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: rgba(0, 0, 0, 0.5);
}
.text{
    padding-top: 3.75vh;
}